<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="person" class="com.edureka.spring.helloworld.Person" scope="singleton" init-method="myInitMethod" destroy-method="myCustomDestroyMethod">
    	<constructor-arg name="greetMessage" value="Hello Dinesh !! Hope you are doing great."></constructor-arg>
    	<property name="name" value="Kiran"></property>
    	<property name="salary" value= "5400.85"></property>
    </bean>
    
    <!-- <bean class="com.edureka.spring.helloworld.MyCustomBeanPostProcessor"/>-->
    
    <bean id="emp" class="com.edureka.spring.helloworld.Employee">
    	<property name="name" value="Vinay"></property>
    	<property name="empId" value= "27590"></property>
    </bean>


    <bean id="regularEmp" class="com.edureka.spring.helloworld.RegularEmployee" parent="emp">
    	<property name="salary" value="4875.25"></property>
    </bean>
</beans>